.home-container {
  text-align: center;
}

h1 {
  font-size: 3rem;
  color: rosybrown;
  text-align: center;
}

button {
  background-color: papayawhip;
  border: none;
  color: rosybrown;
  font-size: 2rem;
  border-radius: 10px;
  display: block;
  margin-top: 10px;
  max-width: 200px;
  margin-right: auto;
  margin-left: auto;
  text-decoration: none;
}

.form-container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

form {
  color: rosybrown;
  font-size: 1rem;
}

body {
  background: linear-gradient(0deg, rgba(255,255,255,1) 52%, rgba(255,239,213,1) 100%);
  background-repeat: no-repeat;
}
